<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <span class="label label-info">
      <%=@status %>
    </span>
  </div>
    <div class="col-md-5">
    <div class="livestream">
      <% if @live_stream_url %>
        <img class="img-responsive" src="<%=@live_stream_url %>"/>
      <% end %>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
