.row
  .col-md-9
    table.table
      tr
        th
          'Key
        th
          'Current Value
        th
          'Set

      - @settings.each do |setting|
        tr
          td
            = setting[0]
          td
            = @current_values[setting[0]]
          td.buttons
            - setting[1]['allowed'].each do |val|
              - if val.to_s == @current_values[setting[0]]
                a.btn.btn-default.disabled
                  = val
              - else
                a.btn.btn-default href=config_update_path(:key => setting[0], :value => val )
                  = val
  .col-md-3
