.row
  .col-md-9
    table.table
      tr
        th
          'Key
        th
          'Current Value
        th
          'Set

      - @files.each do |file|
        tr
          td
            = file
          td.buttons
                a.btn.btn-default href=files_path(:filename => file )
                  = file
  .col-md-3
